.navbar-container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  border-bottom: 1.4px solid black;
}

.navbar .fass {
  color: black;
}

.navbar .fas {
  color: black;
}

.fas{
  color: aliceblue;
  margin-left: 30px;
}

.fass{
  color: aliceblue;
  margin-left: 10px;
}

@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
