.navbar {
  background: linear-gradient(to right, #F44748, #FCC45E);
  background-size: 200% auto;
  animation: move-gradient 15s ease infinite;
}

.fa-user{
  margin-left: 20px;
}

.fas{
  color: aliceblue;
  margin-left: 10px;
}

@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}