/* Home header Section */
input:focus {
    outline: none;
  }
  .img-fluid {
    padding-top: 0px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .d-grid {
    display: grid;
    gap: 20px;
  }
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-btn {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 13px 35px;
    font-size: 14px;
    font-weight: 400;
    background-color: #F44748;
    color: #fcc55e;
    border-radius: 50px;
    letter-spacing: 1.1px;
    box-shadow: 0px 10px 20px rgb(108 14 69 / 30%);
    transition: all 0.3s ease-in-out;
    text-align: center;
    text-transform: capitalize;
    border: 0px;
    cursor: pointer;
  }
  .search-btn:hover {
    transform: scale(1.02);
    color: #fdf1f3;
    box-shadow: 0px 10px 20px rgba(6, 3, 32, 0.4);
  }
  
  .col-left,
  .content-col {
    text-align: justify;
  }

.home-wrapper {
    padding-top: 0px;
    height: 100%;
    min-height: 85vh;
    align-items: center;
  }
  .home-wrapper .col-left p {
    width: 495px;
  }
  .search-food {
    width: 395px;
    margin-top: 50px;
    position: relative;
    background-color: #fdf1f3;
    border-radius: 50px;
  }
  .search-food input {
    width: 100%;
    height: 56px;
    font-size: 14px;
    color: #350286; 
    padding: 15px 25px;
    background-color: beige;
    border: 0px;
    border-radius: 50px;
  }
  .search-food .btn {
    margin-right: 5px;
  }
  .social-icons {
    margin-top: 40px;
    justify-content: flex-start;
  }
  .social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0px 20px 18px 4px rgb(205 180 194 / 57%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
  }
  .social-icons a:last-child {
    margin-right: 0px;
  }
  .social-icons a:hover {
    background-color: #fdf1f3;
  }


/* media queries */
@media (min-width: 768px) {
  .col-left {
    padding-top: 0;
    margin-top: 0;
}
    .home-wrapper,
    .content-col-wrapper {
      padding-top: 0;
      display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    
    .home {
      padding: 10px 0;
    }
    .home-wrapper {
      min-height: auto;
    }
    .services .content-col {
      padding-left: 25px;
    }
    .home-wrapper .col-left p,
    .search-food {
      width: 300px;
    }
    .social-icons {
      margin-top: 50px;
    }
    
  }

  @media (max-width: 767px) {
    
    .home {
      padding: 10px 0;
    }
    .home-wrapper .col-left p {
      width: 100%;
    }
    .search-food {
      width: 100%;
    }
    .social-icons {
      margin-top: 30px;
      justify-content: center;
      margin-bottom: 30px;
    }
    .col-right {
      text-align: center;
    }
    .col-left h1{
        margin-top: 0px;
        text-align: center;
    }
    
    .section-title p {
      width: 100%;
    }
    .content-col p {
      margin-bottom: 25px;
      width: 100%;
    }
    
  }
  /********** Hero animation************/
.img-fluidd {
  animation: hero-img-animation 6s ease-in-out infinite;
}

@keyframes hero-img-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
  /********** About Us ************/
h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-medium {
  font-weight: 500 !important;
}

h5,
h6,
.font-weight-normal {
  font-weight: 400 !important;
}

.section-title {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: 1px;
  background: #F44748;
}
